# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Output and temp files
*.pdf
Synthetic_data_tool_source_code.pdf

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
